
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width: 100%;
    height: auto;
}

/**********index.html**********/

/*Set the background image and fitogram logo*/
.background {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

/*Set the fitogram logo*/
.login1_logo {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: auto;
}

/*Set the background image*/
.run_icon {
    width: 90%;
    height: auto;
    margin: 15% 3%;
    opacity: 0.4;
}

/*Set the container for login type*/
.login1 {
    position: absolute;
    width: 80%;
    height: auto;
    margin-top: 70%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif' ;
}

/*Style the login type buttons*/
.loginType {
    border-color: rgb(121,145,139);
    border-width: medium;
    background-color: white;
    border-radius: 15px;
    margin: 2% 0%;
    width: 100%;
}

/*Style the login type buttons when hovered*/
.loginType:hover {
    background-color: rgb(121,145,139);
    color: white;
}

/*Style the button text*/
.typeText {
    text-align: center;
    font-size: 30px;
    margin: 2%;
}





/**********login.html**********/

/*Style the button text*/
.login2_logo {
    margin-top: 10%;
    margin-left: 33%;
    margin-right: 33%;
    width: 34%;
    height: auto;
}

/*container for login info*/
.loginInfo {
    position: absolute;
    margin-top: 90%;
    width: 100%;
    height: auto;
}

/*login info icons styling*/
.loginInfo i {
    font-size: 45px;
    width: 12%;
    margin-left: 5%;
    margin-bottom: 5%;
    vertical-align: bottom;
    color: rgb(121,145,139);
}

/*login info input box styling*/
.loginInfo input[type=text], .loginInfo input[type=password]{
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
    font-size: 20px;
    padding-left: 5%;
    width: 63%;
    height: 35px;
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 40px;
    border-width: 2px;
    border-color: rgb(121,145,139);
}

/* Darker background when user is typing */
.loginInfo input[type=text]:focus, .loginInfo input[type=password]:focus {
    background-color: aliceblue;
    color: black;
}

/*Style the login button*/
.loginBtn {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    width: 87%;
    height: 50px;
    border-width: 0;
    border-radius: 40px;
    background-color: rgb(121,145,139);
}

/*Style the login button text*/
.loginBtn p{
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 3%;
}

/*Style the checkbox*/
.loginInfo input[type=checkbox] {
    margin-left: 5%;
    margin-top: 5%;
}

/*Style the back button*/
.backBtn {
    position: absolute;
    margin: 3%;
}

/*Style the button text after visited*/
.backBtn a, .backBtn a:visited {
    border: 2px solid rgb(121,145,139);
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(121,145,139);
}

/*Style the register prompt text*/
.register {
    margin-top: 10%;
    margin-left: 5%;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif' ;
    font-size: 27px;
    
}

/*Style the register prompt text after visited*/
.register a, .register a:visited{
    color: rgb(121,145,139);
}





/**********register.html**********/

/*container for register information*/
.registerInfo {
    position: absolute;
    margin-top: 60%;
    width: 100%;
    height: auto;
}

/*p text for register information*/
.registerInfo p {
    font-size: 26px;
    margin-left: 5%;
    margin-bottom: 3%;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif' ;
}

/*Style the icon for register information*/
.registerInfo i {
    font-size: 45px;
    width: 12%;
    margin-left: 5%;
    margin-bottom: 5%;
    vertical-align: bottom;
    color: rgb(121,145,139);
}

/*Style the input box*/
.registerInfo input[type=text], .registerInfo input[type=password]{
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
    font-size: 20px;
    padding-left: 5%;
    width: 63%;
    height: 35px;
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 40px;
    border-width: 2px;
    border-color: rgb(121,145,139);
}

/* Darker background when user is typing */
.registerInfo input[type=text]:focus, .registerInfo input[type=password]:focus {
    background-color: aliceblue;
    color: black;
}

/* Style the register button */
.registerBtn {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    width: 87%;
    height: 50px;
    border-width: 0;
    border-radius: 40px;
    background-color: rgb(121,145,139);
}

/* Style the register button text*/
.registerBtn p{
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 2%;
}





/**********home.html**********/

/*home container*/
.homelogo_container {
    position: absolute;
    margin-top: 2%;
    margin-left: 4%;
    background-color: white;
}

/*style fitogram logo*/
.home_logo1 {
    width: 40%;
}

/*style fitogram logo*/
.home_logo2 {
    width: 15%;
    margin-left: 35%;
}

/*style home contents*/
.homeContent {
    position: absolute;
    width: 95%;
    height: auto;
    margin-left: 5%;
    margin-top: 20%;
}

/* home banner Slideshow container */
.homeBanner_container {
    width: 100%;
    margin: auto;
}

/* Slideshow images */
.banner img {
    width: 90%;
    height: 260px;
    border: 3px solid rgb(121,145,139);
    border-radius: 5%;
}

/* Caption text */
.capText {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* container for dots */
.dotContainer {
    position: absolute;
    margin-top: 275px;
    margin-left: 70%;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* change colour when dot is active */
.active {
  background-color: darkgray;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Style calorie text */
.calorieContainer .calGoal{
    position: absolute;
    margin-top: 3%;
    margin-bottom: 0%;
    font-size: 24px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif' ;
}

/* Style calorie text */
.calorieContainer .calorieText {
    position: absolute;
    font-size: 32px;
    margin-left: 38%;
    margin-top: 1%;
    margin-bottom: 0%;
    color: rgb(121,145,139);
    font-weight: bold;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
    
}

/* container for caloriebar */
.barContainer {
    position: absolute;
    margin-top: 14%;
    margin-left: 0%;
    width: 90%;
    height: auto;
}

/* Style calorie bar */
.bar1 {
    position: absolute;
    height: 6px;
    width: 78%;
    background-color: rgb(241,208,176);
    display: inline-block;
}

/* Style calorie bar */
.bar2 {
    position: absolute;
    height:6px;
    width: 22%;
    margin-left: 78%;;
    background-color: lightgray;
    display: inline-block;
}

/* Style calorie remaining text */
.calRemain {
    position: absolute;
    margin-top: 16%;
    margin-left: 60%;
    color: darkgray;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* contains activity and posts */
.activityContainer {
    width: 90%;
    height: auto;
}

/* Style activity header */
.activityHeader {
    margin-top: 24%;
    font-size: 28px;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* Style the posts */
.posts {
    display: inline-block;
    width: 100%;
    height: auto;
    border: 2px solid rgb(121,145,139);
    border-radius: 5%;
    margin-bottom: 5%;
}

/* align the post */
.postAlign {
    float: left;
    width: 47%;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 18px;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* Style and align the post image */
.postAlign img {
    width: 100%;
    height: auto;
    margin-bottom: auto;
}

/* Style and align the user icon */
.postAlign i {
    float: left;
    font-size: 30px;
    margin-bottom: 5%;
}

/* Style and align the user name */
.postAlign p {
    float: left;
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 10%;
}

/* Style and align the text */
.postAlign span {
    float: left;
    width: 100%;
    height: auto;
}

/* footer container */
.footerNav {
    position: fixed;
    float: left;
    left: 0px;
    bottom: 0px;
    padding-top: 5%;
    width: 100%;
    background-color: white;
    border: 2px solid rgb(121,145,139);
    z-index: 1;
}

/* align icons */
.footerCol {
    float: left;
    width: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

/* align icons */
.footerCol img {
    float: left;
    width: 100%;
    vertical-align: middle;
}

/* align icons text */
.footerCol p {
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* align home icon */
.homeBtn_active {
    position: absolute;
    border-radius: 50%;
    width: 12%;
    height: 45%;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 7%;
    top: 0%;
    left: 39%;
    margin-bottom: 0%;
    background-color: rgb(191,205,196);
    z-index: -1;
}

.homeBtn_inactive {
    position: absolute;
    border-radius: 50%;
    width: 12%;
    height: 45%;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 7%;
    top: 0%;
    left: 38.5%;
    margin-bottom: 0%;
    border: 3px solid rgb(191,205,196);
    z-index: -1;
}

/* align chat icons */
.chat {
    position: fixed;
    right: 5%;
    bottom: 15%;
    background-color: white;
    border: 2px solid rgb(241,208,176);
    border-radius: 50%;
    width: 12%;
    padding: 4%;
    padding-top: 4.5%;
    padding-bottom: 3.5%;
}

/* align chat icons */
.chat img {
    width: 100%;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

/* Add styles to the form container */
.form-container {
    border: 3px solid rgb(241,208,176);
    border-radius: 15px;
    width: 90%;
    height: 70%;
    margin: 20% auto;
    background-color: white;
}

/* Style the icons */
.form-container img {
    float: left;
    width: 12%;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
}

/* Style the text */
.form-container .chatTitle {
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    width: 65%;
    font-size: 22px;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* Style the text */
.form-container .selectType {
    float: left;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 65%;
    font-size: 22px;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* Style the chat type */
.form-container .chatType {
    float: left;
    width: 37%;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 25%;
    border: 3px solid rgb(223,163,147);
    border-radius: 15px;
    padding: 5px;
}

/* Style the chat type text */
.form-container .chatType p {
    float: left;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5%;
    width: 70%;
    font-size: 22px;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* Style the chat type image */
.form-container .chatType img {
    float: right;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 35%;
    height: 50px;
}

/* Style the cancel button */
.form-container .cancel {
    float: right;
    margin-top: 2%;
    margin-right: 3%;
    padding: 0;
    background-color: white;
    border: none;
    font-size: 24px;
}

/* Style the faq button */
.form-container .chatFAQ {
    background-color: rgb(223,163,147);
    border: none;
    border-radius: 25px;
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding: 3%;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Roboto', 'sans-serif';
}

/* Style the faq button after visited */
.form-container .chatFAQ a,
.form-container .chatFAQ a:visited {
    color: black;
    text-decoration: none;
}

/* Style the chat title */
.trainerChatMsg .title,
.nutritionistChatMsg .title {
    margin-top: 5%;
    margin-left: 20%;
    font-size: 22px;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* Style the chat line */
.trainerChatMsg .topchatline,
.nutritionistChatMsg .topchatline {
    position: absolute;
    left: 0;
    width: 90%;
    height: auto;
    margin-left: 5%;
    height: auto;
    border: 1.5px solid rgb(241,208,176);
}

/* Style the left chat message */
.trainerChatMsg .msgleft,
.nutritionistChatMsg .msgleft{
    display: inline;
    float: right;
    margin-left: 30%;
    margin-right: 2%;
    margin-top: 3%;
    margin-bottom: 2%;
    border: 3px solid rgb(223,163,147);
    border-radius: 20px 0px 20px 20px;
    padding: 5px 12px;
    font-size: 18px;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* Style the right chat message */
.trainerChatMsg .msgright,
.nutritionistChatMsg .msgright{
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid rgb(223,163,147);
    border-radius: 0px 20px 20px 20px;
    padding: 5px 12px;
    font-size: 18px;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* Style the chat line */
.trainerChatMsg .bottomchatline,
.nutritionistChatMsg .bottomchatline {
    position: absolute;
    left: 0;
    width: 90%;
    height: auto;
    bottom: 28%;
    margin-left: 5%;
    height: auto;
    border: 1.5px solid rgb(241,208,176);
}

/* Style the message input box */
.trainerChatMsg .msgInput,
.nutritionistChatMsg .msgInput {
    position: absolute;
    width: 68%;
    height: 30px;
    bottom: 21.8%;
    right: 7%;
    border: 3px solid rgb(223,163,147);
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
}

/* Style the emoji selector */
.trainerChatMsg i,
.nutritionistChatMsg i {
    position: absolute;
    left: 8%;
    bottom: 22.3%;
    font-size: 35px;
    color: rgb(223,163,147);
}





/**********log.html**********/

/*header container*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgb(139,185,168);
    z-index: 1;
}

/*header h1 text*/
.header h1 {
    margin: 0;
    padding-top: 11%;
    padding-bottom: 3%;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 38px;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
}

/*content container*/
.logcontent_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 25%;
    background-color: rgba(0,0,0,0.1);
}

/*left arrow*/
.logcontent_container .fa-chevron-left {
    float: left;
    font-size: 25px;
    margin-top: 3%;
    margin-left: 5%;
}

/*right arrow*/
.logcontent_container .fa-chevron-right {
    float: right;
    font-size: 25px;
    margin-top: 3%;
    margin-right: 5%;
}

/*style calendar button*/
.logcalendarbtn {
    text-align: center;
}

/*calendar icon*/
.logcalendarbtn .fa-calendar-alt {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

/*calendar button text*/
.calendarbtn {
    padding: 0;
    border: none;
    font-size: 28px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/*style pop up calendar*/
.calendar {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

/*calendar's date and year container*/
.calendar .month {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 30%;
    border: 3px solid rgb(223,163,147);
    background-color: rgb(223,163,147);
}

/*style calendar's cancel button*/
.calendar .month .cancel {
    float: left;
    margin-left: 93%;
    background-color: rgb(223,163,147);
    border: none;
    font-size: 25px;
    padding: 0;
}

/*style calendar's year*/
.calendar .month .year {
    float: left;
    width: 90%;
    margin-left: 5%;
    height: auto;
    font-size: 18px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/*style calendar's date today*/
.calendar .month .day {
    width: 90%;
    height: auto;
    margin-left: 5%;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/*style month's dates*/
.calendar .dates {
    width: 90%;
    height: auto;
    margin: auto;
    background-color: white;
    border: 3px solid rgb(223,163,147);
}

/*style calendar's month*/
.calendar .dates .dates_month {
    position: absolute;
    float: left;
    width: 65%;
    height: auto;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/*style left arrow*/
.calendar .dates .fa-chevron-left {
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 10%;
}

/*style right arrow*/
.calendar .dates .fa-chevron-right {
    float: right;
    margin-right: 10%;
    margin-top: 6%;
    margin-bottom: 10%;
}

/*month's week days container*/
.calendar .weekdays {
    display: flex;
    width: 90%;
    height: auto;
    margin: auto;
    justify-content: space-between;
    padding: 0;
}

/*style the month's week days*/
.calendar .weekdays li {
    text-align: center;
    list-style-type: none;
    margin: auto;
    margin-bottom: 10%;
    font-size: 22px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/*month's days container*/
.calendar .dates .day_num {
    display: grid;
    grid-template-columns: repeat(7, 14%);
    margin: 5% auto;
    padding: 0;
    width: 90%;
    height: auto;
}


/*style the month's days*/
.calendar .dates .day_num li {
    text-align: center;
    list-style-type: none;
    margin: auto;
    margin-bottom: 10%;
    font-size: 22px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/*style the month's days active*/
.calendar .dates .day_num li .active {
    background-color: rgb(223,163,147);;
    border: 2px solid rgb(223,163,147);
    border-radius: 50%;
    padding: 0px 5px;
    color: white;
    font-weight: 900;
}

/*style the month's days exercised*/
.calendar .dates .day_num li .plan {
    background-color: white;
    text-decoration-line: underline;
    text-decoration-color: rgb(223,163,147);
    text-decoration-style: double;
}

/*style the month's legend*/
.dates .legend {
    display: flex;
    float: left;
    width: 5%;
    height: auto;
    margin-left: 10%;
    margin-top: 4%;
    border: 2px solid rgb(223,163,147);
    vertical-align: bottom;
}

/*style the month's legend text*/
.dates .legendtxt {
    margin-left: 3%;
    margin-top: 3%;
    font-size: 22px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/*style cal count container*/
.callogcount {
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: auto;
    border: 2px solid rgb(223,163,147);
    border-radius: 15px;
    background-color: white;
}

/*style consumed calorie bar*/
.callogremain_dark {
    display: block;
    float: left;
    width: 70%;
    height: 40px;
    text-align: right;
    font-size: 26px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
    background-color: rgba(223,163,147,0.7);
    border-radius: 13px 0 0 0;
}

/*style remaining calorie bar*/
.callogcount .callogremain_light {
    display: block;
    float: right;
    width: 30%;
    height: 40px;
    background-color: rgba(223,163,147,0.3);
}

/*style cal consumed*/
.callogcount .calconsume {
    display: block;
    float: left;
    width: 33%;
    height: auto;
    padding-top: 15px;
    margin: auto;
    color: rgb(121,145,139);
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
}

/*style cal burned*/
.callogcount .calburn {
    display: block;
    float: left;
    width: 33%;
    height: auto;
    padding-top: 15px;
    margin: auto;
    color: rgb(241,208,176);
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
}

/*style cal net*/
.callogcount .calnet {
    display: block;
    float: left;
    width: 33%;
    height: auto;
    padding-top: 15px;
    margin: auto;
    color: black;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
}

/*style cal consumed text*/
.callogcount .calconsumetxt {
    display: block;
    float: left;
    width: 33%;
    height: auto;
    margin-bottom: 3%;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/*style cal burned text*/
.callogcount .calburntxt {
    display: block;
    float: left;
    width: 33%;
    height: auto;
    margin-bottom: 3%;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/*style cal consumed text*/
.callogcount .calnettxt {
    display: block;
    float: left;
    width: 33%;
    height: auto;
    margin-bottom: 3%;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/*style nutrition chart*/
.nutritionchart_container {
    width: 90%;
    height: 30%;
    margin-top: 42%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 15px;
}

/* style the h1 text */
.nutritionchart_container h1 {
    font-size: 30px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
    text-align: center;
    margin-bottom: 2%;
}

/* style the chart */
.nutritionchart_container .chart {
    width: 100%;
    height: auto;
}

/* container for water indicator */
.watercontainer {
    display: flex;
    width: 90%;
    height: auto;
    border: 2px solid rgb(121,145,139);
    border-radius: 15px;
    background-color: white;
    margin: auto;
    margin-top: 5%;
}

/* water indicator text*/
.watercontainer p {
    width: 15%;
    height: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    font-size: 26px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/* water indicator dark */
.watercontainer .water_dark {
    height: 17px;
    width: 17px;
    margin-left: 2.5%;
    margin-top: 6%;
    margin-bottom: 3%;
    border-radius: 50%;
    display: inline-block;
    background-color: steelblue;
    opacity: 0.9;
}

/* water indicator light */
.watercontainer .water_light {
    height: 17px;
    width: 17px;
    margin-left: 2.5%;
    margin-top: 6%;
    margin-bottom: 3%;
    border-radius: 50%;
    display: inline-block;
    background-color: skyblue;
    opacity: 0.7;
}

/* progress container */
.progress_container {
    width: 90%;
    height: 14%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid rgb(121,145,139);
    border-radius: 15px;
}

/* progress container text */
.progress_container .progress_text {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 0%;
    font-size: 24px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif';
}

/* container for progress bar */
.progress_container .barContainer {
    margin-top: 3%;
    margin-left: 0%;
    width: 90%;
    height: auto;
}

/* Style progress bar */
.progress_container .barContainer .bar1 {
    height: 6px;
    width: 20%;
    margin-left: 5%;
    background-color: rgb(223,163,147);
    display: inline-block;
}

/* Style progress bar */
.progress_container .barContainer .bar2 {
    height:6px;
    width: 70%;
    margin-left: 25%;
    background-color: lightgray;
    display: inline-block;
}

/* Style calorie remaining text */
.progress_container .goalWeight {
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    color: darkgray;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}





/**********explore.html**********/

/*content container*/
.explorecontent_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 25%;
    padding-bottom: 40%;
    background-color: rgba(0,0,0,0.1);
}

/*content container*/
.workoutContainer,
.nutritionContainer {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

/*content container*/
.explorecontent_container h1 {
    margin-top: 0;
    margin-left: 5%;
    margin-bottom: 0%;
    font-size: 32px;
    font-weight: 900;
    font-family: 'Open Sans', 'Roboto', 'sans-serif' ;
}

/*content container*/
.explorecontent_container p {
    margin-left: 5%;
    margin-top: 0%;
    margin-bottom: 2%;
    font-size: 22px;
    font-family: 'Open Sans Condensed', 'Open Sans', 'Roboto', 'sans-serif' ;
}

/* Slideshow container */
.explorecontent_container .exploreSlide_container {
    width: 90%;
    height: auto;
    margin: auto;
    border: 3px solid rgb(121,145,139);
    border-radius: 15px;
    background-color: white;
}

/* Slideshow images */
.explorecontent_container .slide img{
    width: 60%;
    height: 180px;
    margin: 2%;
}

/* Caption text */
.explorecontent_container .slideText {
    height: auto;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    font-family: 'Open Sans', 'Open Sans Condensed', 'Roboto', 'sans-serif' ;
}

/* workout routines container */
.workouts,
.recipes {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 5%;
}

/* style the icon */
.workouts img,
.recipes img {
    float: left;
    width: 15%;
    height: auto;
    margin-left: 10%;
}

/* style button that shows all workout routines */
.workouts .workoutRoutine,
.recipes .recipeRecco {
    float: right;
    font-size: 20px;
    font-family: 'Open Sans Condensed', 'Roboto', 'sans-serif';
    background-color: rgba(121,145,139,0.6);
    border: none;
    border-radius: 12px;
    padding: 3% 5%;
}

/* Slideshow images */
.explorecontent_container .slide2 img{
    width: 60%;
    height: 180px;
    margin: 2%;
}





/**********workout.html**********/

/*content container*/
.exploreworkout_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 25%;
    padding-bottom: 80%;
    background-color: rgba(0,0,0,0.1);
}

/*Style the back button*/
.prevPg {
    position: absolute;
    margin: 3%;
    margin-top: 5%;
}

/*Style the button text after visited*/
.prevPg a, .prevPg a:visited {
    border: 2px solid rgb(121,145,139);
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(121,145,139);
    background-color: white;
}

/*Style the title text*/
.exploreworkout_container .reccoTitle {
    margin: auto;
    margin-top: 12%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Open Sans Condensed', 'Roboto', 'sans-serif';
}

/*Style the each workout*/
.exploreworkout_container .reccoWorkout {
    display: inline-block;
    vertical-align: top;
    width: 41%;
    height: auto;
    min-height: 22%;
    border: 2px solid rgb(121,145,139);
    border-radius: 15px;
    background-color: white;
    margin-left: 5%;
    margin-bottom: 5%;
}

/*Style the each workout image*/
.exploreworkout_container .reccoWorkout img {
    width: 90%;
    height: auto;
    margin: 5%;
    margin-bottom: 0;
}

/*Style the each workout text*/
.exploreworkout_container .reccoWorkout p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 20px;
    font-family: 'Open Sans Condensed', 'Roboto', 'sans-serif';
}





/**********plan.html**********/

/*content container*/
.plancontent_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 25%;
    padding-bottom: 40%;
    background-color: rgba(0,0,0,0.1);
}

/*content header text*/
.plancontent_container h1 {
    margin-left: 5%;
    font-size: 30px;
    font-family: 'Open Sans Condensed', 'Roboto', 'sans-serif';
}

/*schedule container*/
.plancontent_container .schedule {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 3%;
    border: 3px solid rgb(241,208,176);
    border-radius: 15px;
    background-color: white;
}


/*block container*/
.plancontent_container .schedule .block {
    float: left;
    width: 68%;
    height: auto;
}

/*schedule time*/
.plancontent_container .time {
    display: inline-flex;
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 5%;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Open Sans Condensed', 'Roboto', 'sans-serif';
}

/*schedule title*/
.plancontent_container .title {
    display: inline-flex;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 23%;
    margin-bottom: 0%;
    font-size: 26px;
    font-family: 'Open Sans Condensed', 'Roboto', 'sans-serif';
}

/*schedule period*/
.plancontent_container .period {
    display: inline-flex;
    vertical-align: bottom;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 0%;
    font-size: 26px;
    font-weight: 900;
    font-family: 'Open Sans Condensed', 'Roboto', 'sans-serif';
    color: rgb(121,145,139);
}

/*schedule period*/
.plancontent_container .text {
    display: inline-flex;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 18%;
    font-size: 18px;
    font-family: 'Open Sans Condensed', 'Roboto', 'sans-serif';
}

/*schedule image*/
.plancontent_container img {
    display: inline-block;
    width: 30%;
    height: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: 2%;
    vertical-align: bottom;
}

/*dark green*/
background-color: rgb(121,145,139);

/*light green*/
background-color: rgb(139,185,168);

/*lightest green*/
background-color: rgb(191,205,196);

/*yellow*/
background-color: rgb(241,208,176);

/*pink*/
background-color: rgb(223,163,147);